html, body {
  width: 200px;
}

.hidden {
  display: none;
}

.button {
  margin: 1% 0;
  padding: 0px;
  text-align: center;
  font-size: 1.3em;
  cursor: pointer;
  color: #000a64;
}

.site:hover {
  background-color: rgb(182, 182, 182);
}

.site {
  background-color: rgb(235, 235, 235);
}

.cancel {
  background-color: rgb(255, 231, 231);
}

.cancel:hover {
  background-color: rgb(182, 182, 182);
}

.desc {
  font-size: 0.8em;
}